faster-whisper==1.0.3
sounddevice==0.4.6
numpy>=1.23
rapidfuzz==3.9.6
Flask==3.0.3
flask-socketio==5.3.6
eventlet==0.36.1
vosk==0.3.44
webrtcvad==2.0.10
librosa==0.10.1
soundfile==0.12.1
streamlit==1.37.1
